.ul {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  grid-row: 10px;
  list-style-type: none;
}

.ul a {
  color: inherit;
  text-decoration: none;
}

li a:hover {
  text-decoration: underline;
}

li a:visited {
  color: gray;
}
